{% extends 'base.html.twig' %}
{%  block body %}
    <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cumque delectus dolores iusto praesentium sapiente tempora velit! Aliquam, asperiores, assumenda.
    </div>
{% endblock%}


